{% extends 'core/base.html' %}
{%block content%}



 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">
            <div class="row">
              <div class="col-md-6">
                <div class="aa-myaccount-login">
                <h4>Login</h4>
                    <form method="POST" enctype="multipart/form-data" >
                      {% csrf_token %}
                        {{form}}
                      <div class="aa-prod-view-bottom">
                          <input class="aa-add-to-cart-btn" type="submit" value="Login">
                      </div>
                    </form>
                </div>
              </div>

            </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->

{% endblock %}