{% extends 'core/base.html' %}
{%block content%}
{% load static %}


<div class="row">
  <div class="col-md-12">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
    {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

  <!-- Products section -->
  <section id="aa-product">

    <div class="container">
      <!-- search box -->

              <div class="aa-search-box" >
                <form method="POST" enctype="multipart/form-data" >
                           {% csrf_token %}
                        {{form}}

                  <button type="submit"><span class="fa fa-search"></span></button>
                </form>
              </div>
              <!-- / search box -->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Products section -->
  <!-- banner section -->
  <section id="aa-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">        
          <div class="row">
            <div class="aa-banner-area">

          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- popular section -->
  <section id="aa-popular-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">

              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men popular category -->
                <div class="tab-pane fade in active" id="popular">
                  <ul class="aa-product-catg aa-popular-slider">
                    {% for cat in category %}
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <img src="{{ cat.image.url }}" width="251" height="251">
                        <a class="aa-add-card-btn" href="{% url 'products-view' cat.id %}">View</a>
                         <figcaption>
                           <br><br>
                          <h4 class="aa-product-title"><a href="#">{{ cat.name }}</a></h4>
                        </figcaption>
                      </figure>                     


                      <!-- product badge -->

                    </li>
                     <!-- start single product item -->
                    {% endfor %}
                  </ul>

                </div>
                <!-- / latest product category -->              
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- / popular section -->



{% endblock %}