{% extends 'core/base.html' %}
{%block content%}
{% load static %}

<div class="row">
  <div class="col-md-12">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
    {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
  <!-- product category -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">

            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">
                {% for product in products %}
                <!-- start single product item -->
                <li>
                  <figure>
                    <img src="{{ product.image.url }}"  width="263" height="263">
                    <a class="aa-add-card-btn"href="{% url 'add' product.id %}"><span class="fa fa-shopping-cart"></span>ADD TO CART</a>
                    <br><br>
                    <figcaption>
                      <h4 class="aa-product-title"><a href="#">{{product.name}}</a></h4>
                      <span class="aa-product-price">{{product.price}} $</span>
                      <p class="aa-product-descrip"></p>
                    </figcaption>
                  </figure>                          
                  <div class="aa-product-hvr-content">

                    <a href="{% url 'product-detail' product.id %}" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="quick-view-modal"><span class="fa fa-search"></span></a>
                  </div>
                </li>
                {% endfor %}
              </ul>


            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">


            <div class="aa-sidebar-widget">
              <h3>Shop By Price</h3>
              <!-- price range -->
              <div class="aa-sidebar-price-range">

                  <form method="POST" enctype="multipart/form-data" >
                           {% csrf_token %}
                        {{form}}
                   <div class="aa-prod-view-bottom">
                          <input class="aa-add-to-cart-btn" type="submit" value="Filter">
                   </div>
                    </form>


              </div>

            </div>



          </aside>
        </div>

      </div>
    </div>
  </section>
  <!-- / product category -->



{% endblock %}